<nav class="navbar navbar-expand-lg navbar-dark headerColor" style="font-size: medium;">
  <div class="container-fluid">
    <a class="navbar-brand display-4" style="color: white;" [routerLink]="['']">Hospital</a>
    <div class="navbar" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/hospitalService']">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/appointments']">New Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/CustomerSupport/2']">Contact</a>
        </li>
      </ul>
    </div>

    <div class="d-flex">
      <button *ngIf="!this.basicAuth.isUserLoggedIn()" class="btn btn-success" (click)="this.logInn()">Login</button>
      <button *ngIf="this.basicAuth.isUserLoggedIn()" class="btn btn-danger"
        (click)="this.basicAuth.loggedOut()">Logout</button>
    </div>
  </div>
</nav>