<header>
    <h1 class="display-4">Welcome to AI integrated Hospital Website</h1>
    <p class="lead">Compassionate Care, Advanced Medicine, Close to Home</p>
</header>

<div class="hero">
    <div class="container">
        <h1 class="display-4">Your Health is Our Priority</h1>
        <p class="lead">Providing world-class healthcare services with state-of-the-art facilities and experienced
            professionals.</p>
        <button class="btn btn-success" (click)="this.learnMore()">Learn More</button>
    </div>
</div>

<div class="container section2 lead w-100 mb-3" >
    <div class="row text-center m-0">
        <div class="col-md-4 my-3">
            <div class="card shadow-sm imageHover">
                <img src="Images/Doctor.jpg" class="card-img-top" alt="Doctors">
                <div class="card-body">
                    <h5 class="card-title display-4">Expert Doctors</h5>
                    <p class="card-text">Meet our team of highly qualified specialists dedicated to your health.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="card shadow-sm imageHover">
                <img src="Images/Hospital.jpg" class="card-img-top" alt="Facilities">
                <div class="card-body">
                    <h5 class="card-title display-4">Modern Facilities</h5>
                    <p class="card-text">Equipped with cutting-edge technology for accurate diagnosis and effective
                        treatment.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="card shadow-sm imageHover">
                <img src="Images/Emergency.jpg" class="card-img-top" alt="Emergency">
                <div class="card-body">
                    <h5 class="card-title display-4">24/7 Emergency</h5>
                    <p class="card-text">Ready to provide immediate care for any emergency at any time, day or night.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>